{% extends "base.html" %}

{% block content %}
    <div class="forms">
        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <button>
                Create
            </button>
        </form>
    </div>
{% endblock content %}
