{% extends "base.html" %}

{% comment %} {% block navbar %}
    <a href="{% url "todo_list_create" %}">Create list</a>
{% endblock navbar %} {% endcomment %}
{% block content %}
    <div>
        <h1>
            My Lists
        </h1>
        <div>
            <p>
                <a href="{% url "todo_list_create" %}">Create a new list</a>
            </p>
            <p>
                <a href="{% url "todo_item_create" %}">Create a new item</a>
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <td>
                        Name
                    </td>
                    <td>
                        Number of items
                    </td>
                </tr>
                <tbody>
                    {% for item in todo_list_all %}
                        <tr>
                            <td>
                                <a href="{% url "todo_list_detail" item.id %}">{{ item.name }}</a>
                            </td>
                            <td>
                                {{ item.items.count }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
{% endblock content %}
