{% extends "base.html" %}

{% block content %}
    <div>
        <h1>
            {{ todo_list_detail.name }}
        </h1>
        <div>
            <p>
                <a href="{% url "todo_list_update" todo_list_detail.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url "todo_list_delete" todo_list_detail.id %}">Delete</a>
            </p>
        </div>
        <h2>
            Tasks
        </h2>
        <table>
            <thead>
                <tr>
                    <td>
                        Task
                    </td>
                    <td>
                        Due Date
                    </td>
                </tr>
                <tbody>
                    {% for item in todo_list_detail.items.all %}
                        <tr>
                            <td>
                                <a href="{% url "todo_item_update" item.id %}">{{ item.task }}</a>
                            </td>
                            <td>
                                {{ item.due_date }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
{% endblock content %}
