{% extends "base.html" %}

{% block content %}
    <div class="forms">
        <h1>
            Update item
        </h1>
        <form method="post">
            {% csrf_token %} {{ todo_item_form.as_p }}
            <button>
                Update
            </button>
        </form>
    </div>
{% endblock content %}
