{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Django One Shot</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="{% url "todo_list_list" %}">All Lists</a>
                {% block navbar %}
                {% endblock navbar %}
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock content %}
        </main>
    </body>
</html>
